:root {
  --primary-color: #c59d5f;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  max-width: 120rem;
  margin: 4rem auto;
  padding: 1rem;
}

@media (max-width: 1200px) {
  main {
    max-width: 100rem;
    margin: 4rem auto;
    padding: 1rem;
  }
}
